
.title{
  color: fuchsia;
}

.text {
  font-size: larger;
}

.img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd; 
  border-radius: 5px;   
  margin-top: 10px;   
}


.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"],
input[type="email"] {
  height: 40px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 150px;       /* Ajusta la altura del área de texto */
  resize: vertical;   /* Permite al usuario redimensionar verticalmente */
}
button {
  background-color: #213547  ;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #041424;
}